<%- include ../header %>
<link rel="stylesheet" href="css/chat.css">

<div class="chat">
  <ul id="messages"></ul>
  <p id="user__ifo"></p>

  <form name="form">
    <input type="text" id="m" autocomplete="off" />
    <button>Send</button>
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/chat.js"></script>

<%- include ../footer %>