<%- include header %>
<link rel="stylesheet" href="css/home.css">

<div class="username">
    <form name="formuser" method="post">
      <input type="text" class="username__input" name="username" placeholder="Digite seu nome" />

      <button class="username__button" type="submit">Entrar</button>
    </form>
</div>

<%- include footer %>
