.username {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.username__input {
  padding: 7px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.username__button {
  padding: 7px;
  border: 0px;
  border-radius: 3px;
  cursor: pointer;
}
